services/cis/infrastructure/cdk/cdk.context.json
services/cis/modules/java/contract-lambda/.DS_Store
**/cdk.context.json
**/.DS_Store
**/dist
**/node_modules
**/cdk.out
services/nsn/.classpath
services/nsn/.project
*.prefs
*.class
**/target/*
**/.classpath
**/.project
**/.mvn
**/.mvn/*
**/mvnw
**/mvnw.cmd
*.jar
*.so
*.dll
services/nsn/modules/nodejs/nsn-get-routing/.dynamodb/*
**/*.d.ts
