services/cis/infrastructure/cdk/cdk.context.json
services/cis/modules/java/contract-lambda/.DS_Store
**/cdk.context.json
**/.DS_Store
**/node_modules
**/cdk.out
services/nsn/.classpath
services/nsn/.project
*.prefs
*.class
services/nsn/modules/java/nsn-routing-service/target/*
services/nsn/modules/java/nsn-routing-service/.classpath
services/nsn/modules/java/nsn-routing-service/.project
