<div class="usa-section">
  <div class="grid-container">
    <div class="grid-row grid-gap">
      <main class="main-content" id="main-content">
        <div>
          <h1>NSN/Class/Group Routing Maintenance</h1>
          <h3>Search</h3>
          <span>NSN, Class or Group
            <sup class="usa-tooltip" data-position="top" title="Top"><svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                <use xlink:href="/assets/img/sprite.svg#info_outline"></use>
              </svg>
              <button type="button" class="usa-button usa-tooltip" data-position="top" title="Top">Show on top</button>
            </sup>
          </span>
          <div class="usa-form-group">
            <form class="usa-search" role="search">
              <label class="usa-sr-only" for="search-field">Search</label>
              <input class="usa-input nsn-search" id="search-field" type="search" name="search" value="35">
              <button class="usa-button nsn-search" type="submit">
                Search
              </button>
            </form>
            <span class="nsn-field-requirements">Minimum of 2 digits required</span>
          </div>
          <!--<h3>Add Record</h3>
          <button class="usa-button">Add a Routing Record</button>-->
        </div>
        <div class="usa-table-container--scrollable">
          <table class="usa-table">
            <caption>Group Routing Details</caption>
            <thead>
              <tr>
                <th scope="col" role="columnheader">
                  Group(FSG)
                </th>
                <th scope="col" role="columnheader">
                  Commodity Center
                </th>
                <th scope="col" role="columnheader">
                  Civilian Manager
                </th>
                <th scope="col" role="columnheader">
                  Military Manager
                </th>
                <th scope="col" role="columnheader">
                  Routing Identifier Code
                </th>
                <th scope="col" role="columnheader">
                  Last Modified
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">35</th>
                <td>F</td>
                <td>N</td>
                <td>Y</td>
                <td>SMS</td>
                <td>07/12/2007</td>
              </tr>
            </tbody>
          </table>
          <div class="usa-sr-only usa-table__announcement-region" aria-live="polite"></div>
        </div>
        <div class="usa-table-container--scrollable">
          <table class="usa-table">
            <caption>Class Routing Details</caption>
            <thead>
              <tr>
                <th scope="col" role="columnheader">
                  Group(FSG)
                </th>
                <th scope="col" role="columnheader">
                  Commodity Center
                </th>
                <th scope="col" role="columnheader">
                  Civilian Manager
                </th>
                <th scope="col" role="columnheader">
                  Military Manager
                </th>
                <th scope="col" role="columnheader">
                  Routing Identifier Code
                </th>
                <th scope="col" role="columnheader">
                  Last Modified
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">3510</th>
                <td>F</td>
                <td>Y</td>
                <td>Y</td>
                <td>SMS</td>
                <td>03/05/2009</td>
              </tr>
            </tbody>
          </table>
          <div class="usa-sr-only usa-table__announcement-region" aria-live="polite"></div>
        </div>
        <div class="usa-table-container--scrollable">
          <table class="usa-table">
            <caption>NSN Routing Details</caption>
            <thead>
              <tr>
                <th scope="col" role="columnheader">
                  National Stock Number
                </th>
                <th scope="col" role="columnheader">
                  Commodity Center
                </th>
                <th scope="col" role="columnheader">
                  Civilian Manager
                </th>
                <th scope="col" role="columnheader">
                  Military Manager
                </th>
                <th scope="col" role="columnheader">
                  Routing Identifier Code
                </th>
                <th scope="col" role="columnheader">
                  Last Modified
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">3510-00-222-1457</th>
                <td>F</td>
                <td>N</td>
                <td>N</td>
                <td></td>
                <td>05/13/1991</td>
              </tr>
              <tr>
                <th scope="row">3510-00-273-9738</th>
                <td>F</td>
                <td>N</td>
                <td>N</td>
                <td></td>
                <td>05/13/1991</td>
              </tr>
              <tr>
                <th scope="row">3510-00-273-9739</th>
                <td>F</td>
                <td>N</td>
                <td>N</td>
                <td></td>
                <td>05/23/2016</td>
              </tr>
              <tr>
                <th scope="row">3510-00-622-7152</th>
                <td>F</td>
                <td>N</td>
                <td>N</td>
                <td></td>
                <td>05/23/2016</td>
              </tr>
            </tbody>
          </table>
          <div class="usa-sr-only usa-table__announcement-region" aria-live="polite"></div>
        </div>
      </main>
    </div>
  </div>
</div>